*{
  margin:0;
  padding: 0;
}
body {
  font-family: 'Rubik', sans-serif;
}
/*Header*/
.header{
  display:flex;
  flex-direction: column;

}
.header__logo{
  width: 155px;
  flex-grow: 1;
  
}


.nav__items{
  display: flex;
  justify-content: center;
  list-style-type: none;
}


.nav__item > a{
  color: #4a4a4a;
  text-decoration: none;
  font-size: 16px;
}

/*Main*/
.main{
  background: #3CDBC0;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.main__content{
  color:#FFFFFF;
  font-size: 30px;
  font-weight: bold;
  max-width: 155px;
  text-align: center;
}

/*Responsive*/
@media all and (min-width:768px){
  .header__logo{
    padding: 30px;
  }
  .nav__items{
    justify-content: flex-end;
    list-style-type: none;
    
  }
  .main__content{
    font-size: 40px;
  }
}